<div class="card">
  <div class="label">Goals</div>

  <ul>
    <%= for goal <- @goals do %>
      <%= if goal.progress_percentage > 0 do %>
        <li>
          <%= goal.name %>
          <%= render(Samwise.Money.GoalView, "_progress.html", conn: @conn, goal: goal) %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
