<h2>Forecast</h2>

<div class="card">
  Chart
</div>

<div class="table">
  Table
</div>

Bills total: <%= Number.Currency.number_to_currency @bills_total %>
Budgets total: <%= Number.Currency.number_to_currency @budgets_total %>
Goals total: <%= Number.Currency.number_to_currency @goals_total %>
Incomes total: <%= Number.Currency.number_to_currency @incomes_total %>
