<nav class="header-actions">
  <div>
    <span class="label label-inline">Total Available:</span>
    <%= Number.Currency.number_to_currency @total_available %>
  </div>
</nav>
<h2>Forecast</h2>

<%= render(Samwise.SharedView, "_events_chart.html", conn: @conn, eventsChartData: @eventsChartData) %>
<%= render(Samwise.SharedView, "_events_table.html", conn: @conn, events: @events) %>
