<h2>Forecast</h2>

<%= render(Samwise.SharedView, "_events_chart.html", conn: @conn) %>
<%= inspect @chart_events %>
<%= render(Samwise.SharedView, "_events_table.html", conn: @conn, events: @table_events) %>

Bills total: <%= Number.Currency.number_to_currency @bills_total %>
Budgets total: <%= Number.Currency.number_to_currency @budgets_total %>
Goals total: <%= Number.Currency.number_to_currency @goals_total %>
Incomes total: <%= Number.Currency.number_to_currency @incomes_total %>
