<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= page_title(@conn) %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <%= if service_name(@conn) do %>
      <link rel="icon" type="image/png" href="<%= static_path(@conn, "/images/favicon-#{service_name(@conn)}.png") %>">
      <link rel="apple-touch-icon" href="<%= static_path(@conn, "/images/apple-touch-icon-#{service_name(@conn)}.png") %>">
    <% else %>
      <link rel="icon" type="image/png" href="<%= static_path(@conn, "/images/favicon.png") %>">
      <link rel="apple-touch-icon" href="<%= static_path(@conn, "/images/apple-touch-icon.png") %>">
    <% end %>

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <script src="//code.highcharts.com/highcharts.js"></script>
    <script src="//code.jquery.com/jquery-git.js"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </head>

  <body class="<%= if service_nav(@conn) do 'has-service_nav' end %>">
    <div class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <%= service_nav(@conn) %>
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>
  </body>
</html>
