<article class="card">
  <div class="card-actions">
    <%= link "", to: income_path(@conn, :edit, @income), class: "ion-edit" %>
  </div>

  <h3>
    <%= link @income.name, to: income_path(@conn, :show, @income) %>
  </h3>

  <p>
    <span class="label label-inline">Amount</span>
    <%= Number.Currency.number_to_currency @income.amount %>
  </p>

  <p>
    <span class="label label-inline">Pays on</span>
    <%= pretty_next_date @income.due %>
  </p>
</article>
