<nav class="header-actions">
  <%= link "Delete",
    to: income_path(@conn, :delete, @income),
    method: :delete,
    class: "button--ghost"
  %>
</nav>
<h2>Edit income</h2>

<%= render "form.html", changeset: @changeset,
                        action: income_path(@conn, :update, @income) %>

<%= link "Back", to: income_path(@conn, :index) %>
