<nav class="header-actions">
  <%= link "Add", to: income_path(@conn, :new), class: "button--ghost" %>
</nav>
<h2>Incomes</h2>

<div class="card-list">
  <%= for income <- @incomes do %>
    <%= render("_card.html", conn: @conn, income: income) %>
  <% end %>
</div>
