<h2>Show income</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @income.name %>
  </li>

  <li>
    <strong>Dates:</strong>
    <%= @income.dates %>
  </li>

  <li>
    <strong>Amount:</strong>
    <%= @income.amount %>
  </li>

</ul>

<%= link "Edit", to: income_path(@conn, :edit, @income) %>
<%= link "Back", to: income_path(@conn, :index) %>
