<nav class="header-actions">
  <%= link "Add", to: bill_path(@conn, :new), class: "button--ghost" %>
</nav>
<h2>Bills</h2>

<div class="card-list">
  <%= for bill <- @bills do %>
    <%= render("_card.html", conn: @conn, bill: bill) %>
  <% end %>
</div>
