.service-nav {
  background-color: $white;
  display: flex;
  height: $header-height;
  justify-content: flex-start;
  left: 0;
  padding: $small-spacing;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;

  @media (min-width: $medium-screen) {
    flex-direction: column;
    bottom: 0;
    height: auto;
    padding: $base-spacing;
    right: auto;
    width: $service_nav-width;
  }

  a,
  .button {
    display: inline-block;
    width: 100%;
  }

  &-logo {
    display: block;
    font-size: 1.25rem;
    font-weight: 200;
    letter-spacing: 0.025em;

    img {
      display: inline-block;
      margin-right: 0.2rem;
      vertical-align: -0.6rem;
      width: 2rem;
    }
  }
}

.service-nav-toggle {
  margin: $small-spacing $base-spacing;
  position: relative;
  z-index: 1000;

  @media (min-width: $medium-screen) {
    display: none;
  }
}

.service-nav-nav {
  background-color: rgba($light-background-color, 0.9);
  bottom: 0;
  box-shadow: $large-box-shadow;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX($service_nav-width);
  transition: transform $base-duration $base-timing;
  width: $service_nav-width;
  z-index: 100;

  @media (min-width: $medium-screen) {
    background-color: transparent;
    box-shadow: none;
    margin-top: $base-spacing;
    padding: 0;
    position: static;
    transform: translateX(0);
    width: auto;
  }

  &.active {
    transform: translateX(0);
  }

  a {
    color: $action-color;
    display: block;
    padding: $small-spacing;

    @media (min-width: $medium-screen) {
      padding: $small-spacing 0;
    }
  }
}

.service-nav--moneypenny .service-nav-logo {
  color: $orange;
}
