.service-nav {
  background-color: $white;
  display: flex;
  height: $header-height;
  justify-content: space-between;
  left: 0;
  padding: $small-spacing;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;

  @media (min-width: $medium-screen) {
    flex-direction: column;
    bottom: 0;
    height: auto;
    justify-content: flex-start;
    padding: $base-spacing;
    right: auto;
    width: $service_nav-width;
  }

  &-item {
    color: $medium-gray;
    display: block;
    font-family: $heading-font-family;
    font-size: 1.25rem;
    font-weight: 200;
    letter-spacing: 0.025em;

    &--money {
      color: $orange;
    }

    &--school {
      color: $blue;
    }

    img {
      display: inline-block;
      margin-right: 0.25rem;
      vertical-align: -0.6rem;
      width: 2rem;
    }
  }
}

.service-nav-back {
  color: $medium-gray;
  font-size: 1.4rem;
  left: 0;
  padding: 0 0.25em;
  position: absolute;
}

.service-nav-toggle {
  color: $medium-gray;
  cursor: pointer;
  font-size: 1.25em;
  line-height: 1;
  margin: 0 $small-spacing;
  padding: $small-spacing 0;
  position: relative;
  z-index: 1000;

  @media (min-width: $medium-screen) {
    display: none;
  }
}

.service-nav-nav {
  background-color: rgba($light-background-color, 0.9);
  border-top: $base-border;
  bottom: 0;
  box-shadow: $large-box-shadow;
  padding: $base-spacing;
  position: fixed;
  right: 0;
  top: $header-height;
  transform: translateX($service_nav-width);
  transition: transform $base-duration $base-timing;
  width: $service_nav-width;
  z-index: 100;

  @media (min-width: $medium-screen) {
    background-color: transparent;
    box-shadow: none;
    margin-top: $base-spacing;
    padding: $small-spacing;
    position: static;
    transform: translateX(0);
    width: auto;
  }

  &.active {
    transform: translateX(0);
  }

  a {
    color: $action-color;
    display: block;
    font-family: $heading-font-family;
    font-weight: 300;
    padding: $small-spacing;

    @media (min-width: $medium-screen) {
      padding: $small-spacing 0;
    }
  }
}

.service-nav--moneypenny .service-nav-logo {
  color: $orange;
}

.service-nav--school .service-nav-logo {
  color: $blue;
}
