* {
  box-sizing: border-box;
}

html,
body,
body > .ember-view {
  min-height: 100vh;
}

body {
  background-color: $base-background-color;
  margin: 0;

  &.has-service_nav {
    padding-top: $header-height;

    @media (min-width: $medium-screen) {
      padding-left: $service_nav-width;
      padding-top: 0;
    }
  }
}

main {
  padding: $small-spacing $base-spacing;

  @media (min-width: $medium-screen) {
    padding: $base-spacing $large-spacing;
  }
}

.centered {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
