* {
  box-sizing: border-box;
}

html,
body,
body > .ember-view {
  min-height: 100vh;
}

body {
  background-color: $base-background-color;
  margin: 0;

  &.has-sidebar {
    @media (min-width: $medium-screen) {
      padding-left: $sidebar-width;
    }
  }
}

main {
  padding: $base-spacing $large-spacing;
}
