.card {
  background-color: $light-background-color;
  border-radius: $base-border-radius;
  box-shadow: $base-box-shadow;
  margin-bottom: $smallest-spacing;
  min-height: 5rem;
  overflow: hidden;
  padding: $base-spacing;
  position: relative;
  transition: $base-timing $base-duration;

  &.card-add {
    background-color: mix($light-background-color, $base-background-color);
    display: block;
  }

  form {
    margin-top: $small-spacing;
  }

  .input-group {
    margin-bottom: 0;
  }

  .form-actions {
    margin-top: 0;
  }

  h3 {
    color: $base-font-color;
    line-height: 2rem;
    margin-bottom: $small-spacing;
  }

  p {
    margin-bottom: 0;
  }

  .add-icon {
    color: $medium-gray;
    font-size: 2rem;
    left: 50%;
    opacity: 0.5;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.card-actions {
  color: $medium-gray;
  cursor: context-menu;
  opacity: 0;
  position: absolute;
  right: $smallest-spacing;
  top: $smallest-spacing;
  transition: opacity $base-duration $base-timing;
  z-index: 2;

  .card:hover & {
    opacity: 0.5;
  }

  a {
    color: $medium-gray;
  }

  &:hover {
    opacity: 1;
  }
}

.card-icon-container {
  display: inline-block;
  position: relative;
  vertical-align: middle;

  .card-icon {
    display: block;
  }
}

.card-icon {
  background-color: $white;
  border: 2px solid $white;
  display: inline-block;
  height: 2rem;
  margin-right: 0.5rem;
  margin-top: -0.25em;
  overflow: hidden;
  vertical-align: middle;
  line-height: 1.4rem;
  text-align: center;
  position: relative;
  width: 2rem;

  &::before {
    background-color: $light-gray;
    content: " ";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    width: calc(100% + 10px);
  }

  &::after {
    color: rgba($medium-gray, 0.5);
    content: attr(alt);
    display: block;
    font-weight: 700;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0.15em;
    width: 100%;
    z-index: 2;
  }
}

.card-icon-autopay {
  background-color: $white;
  border-radius: 50%;
  color: $action-color;
  bottom: 0;
  display: block;
  font-size: $small-font-size;
  height: 0.85rem;
  line-height: 0.85rem;
  position: absolute;
  right: 0;
  text-align: center;
  transform: translate(-10%, 35%);
  width: 0.85rem;
}
