fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 400;
  margin-bottom: $small-spacing / 2;
  padding: 0;
}

label,
.label {
  color: $light-font-color;
  display: block;
  font-size: $small-font-size;
  font-weight: 400;
  letter-spacing: 0.025em;
  margin-bottom: $small-spacing / 2;
  text-transform: uppercase;

  &.label-inline {
    display: inline;
    margin-right: $small-spacing / 2;

    + input {
      display: inline;
      width: auto;
    }
  }
}

input,
select {
  display: block;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

#{$all-text-inputs},
select[multiple] {
  background-color: darken($base-background-color, 5%);
  border: 1px solid transparent;
  border-radius: $base-border-radius;
  box-sizing: border-box;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  margin-bottom: $small-spacing;
  padding: $base-spacing / 2;
  transition: border-color $base-duration $base-timing;
  width: 100%;

  &:focus {
    border-color: $medium-gray;
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }

  &:disabled {
    background-color: shade($base-background-color, 5%);
    cursor: not-allowed;

    &:hover {
      border: $base-border;
    }
  }

  &::placeholder {
    color: $light-font-color;
  }
}

textarea {
  resize: vertical;
}

[type="search"] {
  appearance: none;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: $small-spacing / 2;
}

[type="file"] {
  margin-bottom: $small-spacing;
  width: 100%;
}

select {
  margin-bottom: $base-spacing;
  max-width: 100%;
  width: auto;
}

.form-group {
  clear: both;
  margin: $base-spacing 0;
}

.progress {
  display: block;
  margin: $smallest-spacing 0 0;
  padding-right: 2.5rem;
  position: relative;
  width: 100%;
  z-index: 1;

  &-background {
    background: $light-gray;
    border-radius: $base-spacing;
    height: $smallest-spacing;
    position: relative;
    width: 100%;
    z-index: 1;
  }

  &-bar {
    background-color: $green;
    border-radius: $base-spacing;
    height: $smallest-spacing;
    max-width: 100%;
    z-index: 2;
  }

  &-percent {
    content: attr(value);
    color: $medium-gray;
    font-size: $small-font-size;
    line-height: 1;
    position: absolute;
    right: 0;
    top: -0.25em;
  }

  &-stops {
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
  }

  &-stop {
    box-shadow: -1px 0 rgba($black, 0.25) inset;
    height: $smallest-spacing;
    position: relative;

    &::before {
      background: rgba($black, 0.8);
      border-radius: $base-border-radius;
      color: $white;
      content: attr(data-name);
      display: none;
      font-size: $small-font-size;
      font-weight: 200;
      line-height: 1rem;
      padding: 0.25rem 0.5rem;
      position: absolute;
      right: 0;
      top: -2rem;
      transform: translateX(50%);
      white-space: nowrap;
    }

    &::after {
      content: "";
      display: none;
      border: 0.25rem solid transparent;
      border-right-color: rgba($black, 0.8);
      border-bottom-color: rgba($black, 0.8);
      position: absolute;
      right: 0;
      top: -0.75rem;
      transform: translateX(50%) rotate(45deg);
    }

    &:hover::before,
    &:hover::after {
      display: block;
    }
  }
}
