table {
  border-collapse: collapse;
  margin: $small-spacing 0 0;
  table-layout: fixed;
  width: 100%;
}

thead {
  background-color: $light-background-color;
}

th,
td {
  padding: $small-spacing;
}

th {
  border-bottom: $base-border;
  color: $light-font-color;
  font-size: 0.8rem;
  font-weight: 400;
  padding: 0;
  text-transform: uppercase;
  text-align: left;
}

td {
  border-bottom: 1px solid $light-background-color;
  padding: $small-spacing 0;
}

tr,
td,
th {
  vertical-align: middle;
}

.table {
  @extend .card;
}

.table_title {

}
