<h2>Show budget</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @budget.name %>
  </li>

  <li>
    <strong>Url:</strong>
    <%= @budget.url %>
  </li>

  <li>
    <strong>Amount:</strong>
    <%= @budget.amount %>
  </li>

</ul>

<%= link "Edit", to: budget_path(@conn, :edit, @budget) %>
<%= link "Delete", to: budget_path(@conn, :delete, @budget), method: :delete, data: [confirm: "Are you sure?"] %>
<%= link "Back", to: budget_path(@conn, :index) %>
