<div class="progress">
  <div class="progress-background">
    <div class="progress-bar" style="width: <%= @goal.progress_percentage %>%"></div>
  </div>
  <div class="progress-percent">
    <%= @goal.progress_percentage %>%
  </div>
  <%= if @goal.progress_percentage < 100.0 do %>
    <small>
      Estimated <%= @goal.estimated_end_date %>
      <br/>
      Achieved: <%= Number.Currency.number_to_currency @goal.achieved %>
    </small>
  <% end %>
</div>
