<div class="centered">
  <div class="card">
      <%= if @conn.assigns[:user] do %>
        Welcome, <%= @conn.assigns.user.first_name %>!
        <%= render(Samwise.SharedView, "_services_list.html", conn: @conn) %>
        <%= link "Sign out", to: auth_path(@conn, :delete), class: "button alert" %>
      <% else %>
        <%= link "Sign in with Google", to: auth_path(@conn, :request, "google", scope: "email profile"), class: "button" %>
      <% end %>

  </div>
</div>
