<div class="centered">
  <%= if @conn.assigns[:user] do %>
    <div class="card">
      <%= render(Samwise.SharedView, "_services_list.html", conn: @conn) %>
    </div>
  <% else %>
    <div class="card session-action">
      <img src="/images/favicon.png">
      <%= link "Sign in with Google", to: auth_path(@conn, :request, "google", scope: "email profile"), class: "button" %>
    </div>
  <% end %>
</div>
