<div id="forecastChart" class="card"></div>
<script>
  $(function() {
    Highcharts.chart('forecastChart', Object.assign(window.chartOptions, {
	    chart: {
        height: 300,
        type: 'areaspline'
	    },
      colors: ['#c76baa'],
      series: <%= raw @eventsChartData %>
  	}));
  });
</script>
