<div id="forecastChart" class="card"></div>
<script>
  $(function() {
    var chartData = <%= raw @eventsChartData %>;
    console.log(chartData);
    Highcharts.chart('forecastChart', Object.assign(window.chartOptions, {
	    chart: {
        height: 500,
        type: 'areaspline'
	    },
      series: <%= raw @eventsChartData %>
  	}));
  });
</script>
